.app1 {
  background-color: gray;
  padding: 40px;
}

.app2 {
  background-color: white;
  padding: 40px;
}

.app3 {
  background-color: #561d1d;
  padding: 40px;
}

.app4 {
  background-color: #496bdb;
  padding: 40px;
}

.app5 {
  background-color: #e332ae;
  padding: 40px;
}